.Navbar{
    background-color: rgb(11, 11, 37);
    height: 5rem;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 2rem;
    max-width: 80rem;
    position: sticky;
    top:0;
    
     
}

.logo{
   
   height: 4rem;
   width: 4rem;
}

.menuItem{
    margin:1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 500;
   
}
.menuItem:hover{
    border-bottom: 3px solid rgb(255, 219, 88);
    color: rgb(255, 219, 88);
    padding-bottom: 0.5rem;
}

.menubtn{
    color:rgb(2, 15, 26);
    background-color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.menubtn:hover{
    background-color: rgb(255, 219, 88);
}
.menulogo{
    padding-right: 0.75rem;
}
.active{
    color:rgb(255, 219, 88);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 219, 88);
}

.Mobmenu{
    position: absolute;
    top:4.5rem;
    right: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(85, 88, 91);
    border-radius: 10px;

}
.moblogo{
    height: 1.5rem;
    width:2rem;
    object-fit: cover;
    display: none;
}
.listItem{
    color: aliceblue;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(54, 55, 55);
    text-align: center;
    cursor: pointer;
}
@media screen and (max-width:720px){
    .moblogo{
        display: flex;
    }
    .menu{
        display: none;
    }
    .menubtn{
        display: none;
    }
}